
{% extends 'main.html' %}


{% block content %}
<h2>HUBZone Program</h2>
<p>The HUBZone program was created to stimulate economic development and create jobs in urban and rural communities by providing Federal contracting preferences to small businesses. These preferences go to small businesses that obtain HUBZone (Historically Underutilized Business Zone) certification in part by employing staff who live in a HUBZone. The company must also maintain a "principal office" in one of these specially designated areas.</p>
<p>For more information, visit the <a href="https://www.sba.gov/federal-contracting/contracting-assistance-programs/hubzone-program" target="_blank">SBA's HUBZone Program</a> website.</p>

<div>
  {% for user in users %}
  <h3>{{user.id}} -- {{ user.name }}</h3>
  {% endfor %}

{% include 'navbar.html' %}
{% include 'navbar.html' %}
{% include 'navbar.html' %}

{% endblock %}
